In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Final_Monthly_Dataset.csv')
df.head()

,Date,Mean_Temp,Code,Region,Name,AE_Attendance_1,AE_Attendance_2,AE_Attendance_3,AE_Total_Attendance,AE_Attendance_1_gt_4h,...,Other_Emergency_Admissions,Total_Emergency_Admissions,Patients_waiting_gt_4h_admission,Patients_waiting_gt_12h_admission,AE_Attendance_1_lt_4h,AE_Attendance_2_lt_4h,AE_Attendance_3_lt_4h,AE_Total_Attendance_lt_4h,AE_PercAttendance_2_gt_4h,AE_PercAttendance_3_gt_4h
0,6/1/2015,15.6,NaN,NaN,England,1249213,53398.0,608598,1911209.0,96663.0,...,124809,458790,19065,25,NaN,NaN,NaN,NaN,NaN,NaN
1,6/1/2015,15.6,RF4,London Commissioning Region,"Barking, Havering And Redbridge University Hos...",18991,569.0,2884,22444.0,1205.0,...,39,4827,72,0,NaN,NaN,NaN,NaN,NaN,NaN
2,6/1/2015,15.6,R1H,London Commissioning Region,Barts Health NHS Trust,27291,773.0,9898,37962.0,3384.0,...,1451,8485,703,0,NaN,NaN,NaN,NaN,NaN,NaN
3,6/1/2015,15.6,AD913,London Commissioning Region,Beckenham Beacon Ucc,0,0.0,3973,3973.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,6/1/2015,15.6,RYX,London Commissioning Region,Central London Community Healthcare NHS Trust,0,0.0,18018,18018.0,0.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14024 entries, 0 to 14023
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               14024 non-null  object
 1   Mean_Temp                          14024 non-null  float64
 2   Code                               13966 non-null  object
 3   Region                             13966 non-null  object
 4   Name                               14024 non-null  object
 5   AE_Attendance_1                    14024 non-null  int64
 6   AE_Attendance_2                    14024 non-null  float64
 7   AE_Attendance_3                    14024 non-null  int64
 8   AE_Total_Attendance                14024 non-null  float64
 9   AE_Attendance_1_gt_4h              13870 non-null  float64
 10  AE_Attendance_2_gt_4h              13870 non-null  float64
 11  AE_Attendance_3_gt_4h              13870 non-null  float64
 12  AE_Total_Attendance_gt_4h          13870 non-null  float64
 13  AE_PercAttendance_1_gt_4h          7813 non-null   float64
 14  AE_Total_PercAttendance_gt_4h      13246 non-null  float64
 15  AE_Emergency_Admissions_1          14024 non-null  int64
 16  AE_Emergency_Admissions_2          14024 non-null  int64
 17  AE_Emergency_Admissions_3n4        14024 non-null  int64
 18  AE_Total_Emergency_Admissions      14024 non-null  int64
 19  Other_Emergency_Admissions         14024 non-null  int64
 20  Total_Emergency_Admissions         14024 non-null  int64
 21  Patients_waiting_gt_4h_admission   14024 non-null  int64
 22  Patients_waiting_gt_12h_admission  14024 non-null  int64
 23  AE_Attendance_1_lt_4h              8453 non-null   float64
 24  AE_Attendance_2_lt_4h              8453 non-null   float64
 25  AE_Attendance_3_lt_4h              8453 non-null   float64
 26  AE_Total_Attendance_lt_4h          8453 non-null   float64
 27  AE_PercAttendance_2_gt_4h          768 non-null    float64
 28  AE_PercAttendance_3_gt_4h          4540 non-null   float64
dtypes: float64(15), int64(10), object(4)
memory usage: 3.1+ MB

In [4]:
df.Code.value_counts()

RXL      58
RA7      58
RCB      58
RJN      58
RY2      58
         ..
ARN02     2
NYM13     2
NX123     2
RT1       1
NNF16     1
Name: Code, Length: 309, dtype: int64

In [5]:
df[df.Code.isna() == True]

,Date,Mean_Temp,Code,Region,Name,AE_Attendance_1,AE_Attendance_2,AE_Attendance_3,AE_Total_Attendance,AE_Attendance_1_gt_4h,...,Other_Emergency_Admissions,Total_Emergency_Admissions,Patients_waiting_gt_4h_admission,Patients_waiting_gt_12h_admission,AE_Attendance_1_lt_4h,AE_Attendance_2_lt_4h,AE_Attendance_3_lt_4h,AE_Total_Attendance_lt_4h,AE_PercAttendance_2_gt_4h,AE_PercAttendance_3_gt_4h
0,6/1/2015,15.6,NaN,NaN,England,1249213,53398.00000,608598,1911209.000,96663.0,...,124809,458790,19065,25,NaN,NaN,NaN,NaN,NaN,NaN
252,7/1/2015,14.6,NaN,NaN,England,1271523,53417.00000,627955,1952895.000,95163.0,...,129873,473914,17275,22,NaN,NaN,NaN,NaN,NaN,NaN
505,8/1/2015,16.8,NaN,NaN,England,1215826,49458.00000,599855,1865139.000,104396.0,...,118303,455432,20030,28,NaN,NaN,NaN,NaN,NaN,NaN
758,9/1/2015,17.1,NaN,NaN,England,1221594,50868.00000,587517,1859979.000,120230.0,...,126114,464195,25883,23,NaN,NaN,NaN,NaN,NaN,NaN
1009,10/1/2015,19.3,NaN,NaN,England,1261395,50275.00000,611438,1923108.000,144153.0,...,128805,479987,31582,58,NaN,NaN,NaN,NaN,NaN,NaN
1255,11/1/2015,18.4,NaN,NaN,England,1236294,48306.00000,589635,1874235.000,160493.0,...,130656,475564,34170,29,NaN,NaN,NaN,NaN,NaN,NaN
1502,12/1/2015,22.1,NaN,NaN,England,1232965,46148.00000,588539,1867652.000,165737.0,...,129667,487798,32939,29,NaN,NaN,NaN,NaN,NaN,NaN
1748,1/1/2016,23.1,NaN,NaN,England,1250005,47208.42857,609707,1906920.429,212135.0,...,125865,484833,51571,158,NaN,NaN,NaN,NaN,NaN,NaN
1994,2/1/2016,22.7,NaN,NaN,England,1218372,48387.00000,604017,1870776.000,224110.0,...,124514,462864,50066,188,NaN,NaN,NaN,NaN,NaN,NaN
2240,3/1/2016,21.6,NaN,NaN,England,1350373,49906.00000,687274,2087553.000,258679.0,...,130761,494076,53640,349,NaN,NaN,NaN,NaN,NaN,NaN
2488,4/1/2016,20.4,NaN,NaN,England,1214057,50359.00000,603365,1867781.000,182400.0,...,121996,460209,38632,196,NaN,NaN,NaN,NaN,NaN,NaN
2736,5/1/2016,18.3,NaN,NaN,England,1353206,52180.00000,664954,2070340.000,197101.0,...,128811,493191,38203,107,NaN,NaN,NaN,NaN,NaN,NaN
2983,6/1/2016,17.3,NaN,NaN,England,1282499,52180.00000,624123,1958802.000,181535.0,...,129250,480210,35300,84,NaN,NaN,NaN,NaN,NaN,NaN
3230,7/1/2016,16.0,NaN,NaN,England,1353477,52961.00000,672596,2079034.000,198003.0,...,128442,490221,37466,113,NaN,NaN,NaN,NaN,NaN,NaN
3476,8/1/2016,17.6,NaN,NaN,England,1254439,52404.00000,626058,1932901.000,171132.0,...,122869,470554,34253,57,NaN,NaN,NaN,NaN,NaN,NaN
3721,9/1/2016,16.8,NaN,NaN,England,1277578,52521.00000,622365,1952464.000,178838.0,...,125656,475808,35694,86,NaN,NaN,NaN,NaN,NaN,NaN
3964,10/1/2016,17.8,NaN,NaN,England,1317571,51020.00000,633225,2001816.000,214604.0,...,129674,492983,48816,252,NaN,NaN,NaN,NaN,NaN,NaN
4205,11/1/2016,19.1,NaN,NaN,England,1258205,49979.00000,599687,1907871.000,218126.0,...,132780,489326,52988,457,NaN,NaN,NaN,NaN,NaN,NaN
4448,12/1/2016,21.9,NaN,NaN,England,1277133,45569.00000,621865,1944567.000,263977.0,...,127367,497915,61729,553,NaN,NaN,NaN,NaN,NaN,NaN
4691,1/1/2017,21.4,NaN,NaN,England,1237177,48039.00000,610056,1895272.000,277031.0,...,129333,492273,79551,989,NaN,NaN,NaN,NaN,NaN,NaN
4933,2/1/2017,22.4,NaN,NaN,England,1127909,45733.00000,561977,1735619.000,212506.0,...,121027,447688,54491,338,NaN,NaN,NaN,NaN,NaN,NaN
5175,3/1/2017,21.6,NaN,NaN,England,1309507,53355.00000,652972,2015834.000,195626.0,...,139702,509805,42970,270,NaN,NaN,NaN,NaN,NaN,NaN
5417,4/1/2017,19.9,NaN,NaN,England,1253743,47550.00000,648469,1949762.000,179377.0,...,118763,471328,33923,143,1074366.0,46813.0,643653.0,1764832.0,NaN,NaN
5659,5/1/2017,18.4,NaN,NaN,England,1347297,51037.00000,668455,2066789.000,207223.0,...,131373,505843,40296,115,1140074.0,50490.0,663353.0,1853917.0,NaN,NaN
5901,6/1/2017,16.8,NaN,NaN,England,1296877,50612.00000,646567,1994056.000,180259.0,...,130013,491206,34476,55,1116618.0,50188.0,642305.0,1809111.0,NaN,NaN
6143,7/1/2017,16.1,NaN,NaN,England,1348648,50369.00000,674927,2073944.000,195049.0,...,128752,499259,37258,74,1153599.0,49842.0,670322.0,1873763.0,NaN,NaN
6386,8/1/2017,16.1,NaN,NaN,England,1256655,47912.00000,620096,1924663.000,182993.0,...,125089,486074,37164,50,1073662.0,47408.0,616886.0,1737956.0,NaN,NaN
6627,9/1/2017,17.8,NaN,NaN,England,1263957,47250.00000,614754,1925961.000,195015.0,...,125801,486799,42157,77,1068942.0,46860.0,611132.0,1726934.0,NaN,NaN
6867,10/1/2017,17.3,NaN,NaN,England,1325211,50198.00000,668728,2044137.000,201118.0,...,134406,513217,45500,57,1124093.0,49856.0,664586.0,1838535.0,NaN,NaN
7107,11/1/2017,18.9,NaN,NaN,England,1281913,48223.00000,646835,1976971.000,217417.0,...,135349,513019,48623,107,1064496.0,47776.0,642617.0,1754889.0,NaN,NaN
7347,12/1/2017,19.8,NaN,NaN,England,1289587,42158.00000,672209,2003954.000,292860.0,...,127267,520803,69086,517,996727.0,41837.0,664497.0,1703061.0,NaN,NaN
7586,1/1/2018,22.0,NaN,NaN,England,1257026,49987.00000,693073,2000086.000,287041.0,...,136318,526045,81231,1054,969985.0,49495.0,686577.0,1706057.0,NaN,NaN
7832,2/1/2018,21.9,NaN,NaN,England,1151757,41902.00000,626353,1820012.000,265960.0,...,124165,476867,68712,369,885797.0,41332.0,620696.0,1547825.0,NaN,NaN
8080,3/1/2018,20.9,NaN,NaN,England,1299796,46655.00000,703334,2049785.000,306701.0,...,135064,526066,76233,853,993095.0,45703.0,695755.0,1734553.0,NaN,NaN
8329,4/1/2018,20.1,NaN,NaN,England,1246348,47256.00000,690765,1984369.000,220986.0,...,127543,503393,48004,356,1025362.0,46157.0,686086.0,1757605.0,0.976744,0.993226
8577,5/1/2018,18.1,NaN,NaN,England,1354711,49219.00000,760528,2164458.000,201452.0,...,134754,533457,39236,106,1153259.0,48511.0,754686.0,1956456.0,0.985615,0.992318
8826,6/1/2018,16.8,NaN,NaN,England,1306739,49635.00000,737568,2093942.000,187798.0,...,130320,513254,33750,99,1118941.0,48801.0,732782.0,1900524.0,0.983197,0.993511
9075,7/1/2018,17.1,NaN,NaN,England,1365859,49846.00000,764191,2179896.000,225992.0,...,133207,529932,42823,149,1139867.0,48988.0,758217.0,1947072.0,0.982787,0.992183
9321,8/1/2018,15.2,NaN,NaN,England,1252767,49117.00000,695970,1997854.000,200809.0,...,128225,517299,40214,162,1051958.0,48589.0,692068.0,1792615.0,0.989250,0.994393
9562,9/1/2018,16.6,NaN,NaN,England,1269088,47622.00000,688985,2005695.000,216210.0,...,124347,510322,44582,154,1052878.0,47000.0,684061.0,1783939.0,0.986939,0.992853
9802,10/1/2018,18.3,NaN,NaN,England,1320032,51282.00000,708178,2079492.000,222865.0,...,140928,546022,49014,214,1097167.0,50587.0,703188.0,1850942.0,0.986447,0.992954
10041,11/1/2018,19.2,NaN,NaN,England,1305353,48465.00000,684029,2037847.000,245928.0,...,141841,545357,54373,259,1059425.0,47788.0,678032.0,1785245.0,0.986031,0.991233
10280,12/1/2018,22.1,NaN,NaN,England,1307359,43072.00000,697087,2047518.000,270039.0,...,131271,544903,59805,284,1037320.0,42668.0,690016.0,1770004.0,0.990620,0.989856
10518,1/1/2019,21.9,NaN,NaN,England,1344354,47616.00000,721443,2113413.000,321778.0,...,142562,564035,83554,627,1022576.0,46983.0,713158.0,1782717.0,0.986706,0.988516
10756,2/1/2019,22.8,NaN,NaN,England,1234328,44183.00000,676436,1954947.000,299228.0,...,128220,505722,70815,521,935100.0,43517.0,667942.0,1646559.0,0.984926,0.987443
10993,3/1/2019,21.8,NaN,NaN,England,1373061,50490.00000,744000,2167551.000,281557.0,...,139493,555457,59510,331,1091504.0,49703.0,736094.0,1877301.0,0.984413,0.989374
11230,4/1/2019,19.8,NaN,NaN,England,1330825,49281.00000,732078,2112184.000,304239.0,...,129787,535226,66933,442,1026586.0,48481.0,722918.0,1797985.0,0.983767,0.987488
11466,5/1/2019,18.7,NaN,NaN,England,1369332,50642.00000,752048,2172022.000,253632.0,...,134786,547382,61506,415,958773.0,42772.0,692760.0,1694305.0,0.985280,0.989705
11699,6/1/2019,16.9,NaN,NaN,England,1334135,49233.00000,724617,2107985.000,250470.0,...,130131,528801,57670,461,930747.0,41148.0,666559.0,1638454.0,0.981373,0.989114
11933,7/1/2019,17.2,NaN,NaN,England,1415918,52418.00000,796714,2265050.000,264399.0,...,138658,554069,58531,451,990268.0,43991.0,729722.0,1763981.0,0.983215,0.985975
12166,8/1/2019,16.7,NaN,NaN,England,1324065,48786.00000,752593,2125444.000,254270.0,...,129278,529231,56498,371,919157.0,41225.0,693597.0,1653979.0,0.984313,0.988840
12400,9/1/2019,18.3,NaN,NaN,England,1342511,48217.00000,732830,2123558.000,273465.0,...,130179,529903,64924,458,915488.0,40216.0,674683.0,1630387.0,0.980137,0.988399
12634,10/1/2019,18.6,NaN,NaN,England,1376282,50391.00000,743837,2170510.000,311513.0,...,142029,563079,80092,726,908168.0,42104.0,684888.0,1635160.0,0.979391,0.988975
12867,11/1/2019,19.9,NaN,NaN,England,1366382,47179.00000,729775,2143336.000,347297.0,...,143097,559556,88923,1112,863906.0,39579.0,667910.0,1571395.0,0.979072,0.985266
13099,12/1/2019,20.1,NaN,NaN,England,1374493,43458.00000,763073,2181024.000,381612.0,...,136165,560801,98452,2347,834423.0,36741.0,694621.0,1565785.0,0.987422,0.979301
13330,1/1/2020,22.6,NaN,NaN,England,1327226,49597.00000,737800,2114623.000,338879.0,...,142517,559058,100578,2846,836418.0,41930.0,676872.0,1555220.0,0.984388,0.986531
13562,2/1/2020,22.6,NaN,NaN,England,1237255,45124.00000,687312,1969691.000,296198.0,...,128534,510811,78646,1621,799608.0,38016.0,630724.0,1468348.0,0.987916,0.986433
13794,3/1/2020,12.5,NaN,NaN,England,1012326,32736.00000,486038,1531100.000,213401.0,...,102134,427921,51795,1184,684172.0,28116.0,448260.0,1160548.0,0.990942,0.991177

In [6]:
# change the Date column to dattime format
df.Date = pd.to_datetime(df.Date, format="%d/%m/%Y")

In [7]:
df.head(1)

,Date,Mean_Temp,Code,Region,Name,AE_Attendance_1,AE_Attendance_2,AE_Attendance_3,AE_Total_Attendance,AE_Attendance_1_gt_4h,...,Other_Emergency_Admissions,Total_Emergency_Admissions,Patients_waiting_gt_4h_admission,Patients_waiting_gt_12h_admission,AE_Attendance_1_lt_4h,AE_Attendance_2_lt_4h,AE_Attendance_3_lt_4h,AE_Total_Attendance_lt_4h,AE_PercAttendance_2_gt_4h,AE_PercAttendance_3_gt_4h
0,2015-01-06,15.6,NaN,NaN,England,1249213,53398.0,608598,1911209.0,96663.0,...,124809,458790,19065,25,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# dataframe where code == NaN
x = df[df.Code.isna() == True]

In [9]:
# get the unique value of the Name for its corresponding code is NaN
uniqueName = pd.unique(x.Name)
uniqueName

array(['England'], dtype=object)

In [10]:
# group by Name
groupName = x.groupby(by='Name')

In [11]:
def populateCodeAndRegion(groupName, uniqueName):
    for i in range(len(uniqueName)):
        # for holding the 1st three letters of the Name
        Str = ''
        Str = uniqueName[i][:3]
        provideName = groupName.get_group(uniqueName[i])
        for j in provideName.index:
            df.loc[j, ["Code"]] = Str
            df.loc[j, ["Region"]] = Str+'_'+str(i)

In [12]:
populateCodeAndRegion(groupName, uniqueName)

In [29]:
df[['AE_Attendance_1_gt_4h','AE_Attendance_2_gt_4h','AE_Attendance_3_gt_4h','AE_Total_Attendance_gt_4h','AE_PercAttendance_1_gt_4h','AE_Total_PercAttendance_gt_4h','AE_Attendance_1_lt_4h', 'AE_Attendance_2_lt_4h','AE_Attendance_3_lt_4h','AE_Total_Attendance_lt_4h','AE_PercAttendance_2_gt_4h' ,'AE_PercAttendance_3_gt_4h']].describe()

,AE_Attendance_1_gt_4h,AE_Attendance_2_gt_4h,AE_Attendance_3_gt_4h,AE_Total_Attendance_gt_4h,AE_PercAttendance_1_gt_4h,AE_Total_PercAttendance_gt_4h,AE_Attendance_1_lt_4h,AE_Attendance_2_lt_4h,AE_Attendance_3_lt_4h,AE_Total_Attendance_lt_4h,AE_PercAttendance_2_gt_4h,AE_PercAttendance_3_gt_4h
count,13870.000000,13870.000000,13870.000000,13870.000000,7813.000000,13246.000000,8.453000e+03,8453.000000,8453.000000,8.453000e+03,768.000000,4540.000000
mean,1898.726460,4.747657,45.161932,1948.636049,0.825440,0.918831,8.544783e+03,383.582397,5749.964036,1.467833e+04,0.988184,0.992490
std,15170.371883,41.294397,389.744169,15580.461073,0.097583,0.084699,6.561310e+04,3021.310546,44026.360603,1.123329e+05,0.019182,0.017424
min,0.000000,0.000000,0.000000,0.000000,0.405849,0.547276,-1.000000e+00,0.000000,0.000000,0.000000e+00,0.858593,0.666667
25%,0.000000,0.000000,0.000000,0.000000,0.762425,0.857763,0.000000e+00,0.000000,346.000000,2.559000e+03,0.983094,0.992315
50%,423.000000,0.000000,0.000000,429.000000,0.836968,0.941273,4.170000e+03,0.000000,1958.000000,6.179000e+03,0.996233,0.998912
75%,1576.000000,0.000000,9.000000,1595.000000,0.904986,0.999431,7.310000e+03,0.000000,4250.000000,1.075500e+04,1.000000,1.000000
max,381612.000000,1099.000000,14682.000000,396762.000000,0.996326,1.000000,1.153599e+06,50587.000000,758217.000000,1.956456e+06,1.000000,1.000000

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14024 entries, 0 to 14023
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               14024 non-null  datetime64[ns]
 1   Mean_Temp                          14024 non-null  float64
 2   Code                               14024 non-null  object
 3   Region                             14024 non-null  object
 4   Name                               14024 non-null  object
 5   AE_Attendance_1                    14024 non-null  int64
 6   AE_Attendance_2                    14024 non-null  float64
 7   AE_Attendance_3                    14024 non-null  int64
 8   AE_Total_Attendance                14024 non-null  float64
 9   AE_Attendance_1_gt_4h              13870 non-null  float64
 10  AE_Attendance_2_gt_4h              13870 non-null  float64
 11  AE_Attendance_3_gt_4h              13870 non-null  float64
 12  AE_Total_Attendance_gt_4h          13870 non-null  float64
 13  AE_PercAttendance_1_gt_4h          7813 non-null   float64
 14  AE_Total_PercAttendance_gt_4h      13246 non-null  float64
 15  AE_Emergency_Admissions_1          14024 non-null  int64
 16  AE_Emergency_Admissions_2          14024 non-null  int64
 17  AE_Emergency_Admissions_3n4        14024 non-null  int64
 18  AE_Total_Emergency_Admissions      14024 non-null  int64
 19  Other_Emergency_Admissions         14024 non-null  int64
 20  Total_Emergency_Admissions         14024 non-null  int64
 21  Patients_waiting_gt_4h_admission   14024 non-null  int64
 22  Patients_waiting_gt_12h_admission  14024 non-null  int64
 23  AE_Attendance_1_lt_4h              8453 non-null   float64
 24  AE_Attendance_2_lt_4h              8453 non-null   float64
 25  AE_Attendance_3_lt_4h              8453 non-null   float64
 26  AE_Total_Attendance_lt_4h          8453 non-null   float64
 27  AE_PercAttendance_2_gt_4h          768 non-null    float64
 28  AE_PercAttendance_3_gt_4h          4540 non-null   float64
dtypes: datetime64[ns](1), float64(15), int64(10), object(3)
memory usage: 3.1+ MB